---
import PersonalInformationForm from "../components/PersonalInformationForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Templates">
  <main>
    <PersonalInformationForm />
  </main>
</Layout>

<style></style>
