<div class="header-container">
  <div>Home</div>
  <div class="links-container">
    <a href="/about">about-us</a>
    <a href="/create-template">create new</a>
    <div>contact-us</div>
  </div>
</div>

<style>
  div {
    color: black;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    /* padding:8px; */
    background-color: beige;
  }
  .links-container {
    display: flex;
    gap: 12px;
  }
</style>
